<!DOCTYPE html>
<html lang="en">
<body>

<center>
    <h1>{{ title }}</h1>
</center>


<table>
    <h1>Metric Table</h1>
    bce {{ bce }}
    mse {{ mse }}
    l1_norm {{ l1_norm }}
    mutual_information {{ mutual_information }}
    fid {{ fid }}
</table>

</body>
</html>
